.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Глобальное удаление заливки текстовых полей MUI */
.MuiOutlinedInput-root,
.MuiOutlinedInput-root:hover,
.MuiOutlinedInput-root.Mui-focused,
.MuiOutlinedInput-root.Mui-disabled,
.MuiOutlinedInput-root.Mui-error,
.MuiInputBase-root,
.MuiInputBase-root:hover,
.MuiInputBase-root.Mui-focused,
.MuiInputBase-input,
.MuiInputBase-input:hover,
.MuiInputBase-input:focus {
  background-color: transparent !important;
}
